
<button type="button" class="btn btn-success m-3" routerLink="/addNewStudent">Add New Student</button>

<table class="table table-striped text-center">
    <thead class="thead-dark">
       <tr class="bg-secondary text-white">
            <th colspan="5" class="text-center">Students</th>
        </tr>
      <tr class="text-center">
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Phone</th>
        <th scope="col">Address</th>
        <th scope="col">Management Operations</th>
      </tr>
    </thead>
    <tbody>
      <tr class="text-center">
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>
            <button type="button" class="btn btn-warning m-1">Update</button>
            <button type="button" class="btn btn-danger m-1">Delete</button>
        </td>
      </tr>
      <tr class="text-center">
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
        <td>
            <button type="button" class="btn btn-warning m-1">Update</button>
            <button type="button" class="btn btn-danger m-1">Delete</button>
        </td>
      </tr>
      <tr class="text-center">
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
        <td>
            <button type="button" class="btn btn-warning m-1">Update</button>
            <button type="button" class="btn btn-danger m-1">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  

